* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.gray {
  color: #918e9b;
}

.bold {
  color: #222;
  font-weight: 600;
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  background-color: #fff;
  filter: drop-shadow(0px 2.9825618267059326px 7.456404209136963px rgba(0, 0, 0, 0.1));
}

.nav-logo {
  max-width: 100px;
}

.container {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 32px;
}

.hero-image {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.hero-image img {
  max-width: 90%;
  height: 100%;
}

.hero-title {
  color: #000;
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  text-align: left;
}

.hero-text {
  color: #222;
  font-family: Poppins;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 300;
  line-height: 110%;
  margin-top: 1rem;
}

/* Card Styles */

.card {
  width: 375px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-image {
  width: 100%;
  border-radius: 9px;
}

.card-stats {
  display: flex;
  align-items: center;
}

.card-star {
  height: 14px;
  margin-right: 2px;
}

.card p {
  margin: 2px 0;
}

.card-review,
.gray,
.card p {
  font-size: 1rem;
}

.card-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #fff;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;
}